// Import all the other scss files
@import "colors";
@import "fonts";
@import "navbar";

$mobile-breakpoint: 468px;

body {
    margin: 0;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}